@media (max-width:640px){
    .card-container{
        display: block;
        flex-direction: column;
        width: 450px;
        .card-header{
            padding: 20px 20px 5px 20px;
            border: none;
            h4{
                margin: 0;
            }
        }
        .descripcion{
            padding: 5px 20px 20px 2px;
            background: transparent;
            p{
                margin: 10px 20px;
            }
        }
    }
    .project{
        a{
            img{
                height: 250px;
                width: 250px;
            }
        }
    }

}